# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/roombook?schema=public"

# Server
PORT=3000
NODE_ENV=development

# Auth
JWT_SECRET=change-me-in-production

# Timezone
TIMEZONE=Asia/Jakarta

# App
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000
